@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#050505] text-white antialiased;
    font-family: 'Inter', sans-serif;
  }
}

:root {
  --gold-premium: #D4AF37;
  --blue-avangard: #0055ff;
}

/* Transiciones rápidas globales */
.page-transition {
  @apply transition-all duration-300 ease-in-out;
}

/* Estilo para los inputs premium */
input, select, textarea {
  @apply bg-black border border-gray-800 focus:border-[#D4AF37] outline-none transition-all duration-200;
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--gold-premium);
}